:root {
  --primary-color: #fcf9f5;
  --secondary-color: #fd3f38;
  --tertiary-color: #0045c2;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--primary-color);
  margin-left: 2%;
  margin-right: 2%;
}

h1,
h3,
h4 {
  color: var(--secondary-color);
  font-weight: bold;
  font-family: "GT Zirkon Trial", sans-serif;
}

h2 {
  color: var(--tertiary-color);
  font-weight: bold;
  font-family: "GT Zirkon Trial", sans-serif;
}

p {
  font-weight: lighter;
  font-family: "GT Zirkon Trial", sans-serif;
}
