---
import "../main/MainStyles2.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content="JOJO">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<img loading="lazy" src="image.jpg" alt="" />
		<link rel="preload">
		<title>JOJO</title>
	</head>
	<script src="../javascript/billeder_n.js"></script>
	<script src="../javascript/some_n.js"></script>
</html>