---

---

<article>
    <h1>WEEKDAYS <span>15 - 24</span></h1>
    <h1>WEEKENDS <span>15 - 24</span></h1>
</article>


<style>
    h1{
        font-family: "GT Zirkon Trial", sans-serif;
        font-size: 120px;
        text-align: right;
        margin: 0;
    }

    span{
        color: var(--tertiary-color);
    }

</style>