---

---
<article>
    <div class="overskrift">
        <h1>CONCEPT</h1>
        <h2>ABOUT US</h2>
    </div>
</article>



<style>

.overskrift{
    text-align: center;
}

h1{
font-family: "GT Zirkon Trial", sans-serif;
    font-size: 120px;
    margin: 0;
}

h2{
    font-family: "GT Zirkon Trial", sans-serif;
    font-size: 35px;
    margin: 0;
}

</style>