---

---
<article>
    <div class="overskrift">
        <h1>CONCEPT</h1>
        <h2>ABOUT US</h2>
    </div>

    <div>
        <a href="/forside_vesterbro"><img class="pil" src="/public/pil_v.webp" width="61" height="38" alt="billede af en pil"></a>
    </div>

    <div class="tekst">
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt sapiente perspiciatis laborum vero dolorum, pariatur laudantium magni nesciunt ratione dignissimos minima, reprehenderit voluptates corrupti illo veritatis laboriosam. Modi, cum repudiandae? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos obcaecati a nostrum pariatur amet, quibusdam veniam placeat voluptatibus dolor vero corporis. Non tempore ipsa aliquid molestias beatae ipsam magnam sunt.</p>
    </div>
</article>



<style>

h1{
    font-family: "GT Zirkon Trial", sans-serif;
    font-size: 120px;
    margin: 0;
}

h2{
    font-family: "GT Zirkon Trial", sans-serif;
    font-size: 35px;
    margin: 0;
}

p{
    font-family: "GT Zirkon Trial", sans-serif;
    font-weight: 350;
    font-size: 23px;
    color: var(--secondary-color);
    line-height: 2;
}

.pil{
    padding-top: 1.5%;
    padding-left: 17%;
    margin: 0;
    width: 20%;
    height: 20%;
}
.overskrift{
    padding-top: 100px;
    text-align: center;
}

.tekst{
    text-align: center;
    padding-left: 14%;
    padding-right: 14%;
}

</style>