---

---
<article>
    <div class="overskrift">
        <h1>CONCEPT</h1>
        <h2>ABOUT US</h2>
    </div>

    <div class="pil_container">
        <a href="/forside_vesterbro"><img class="pil" src="/public/pil_v.webp" width="61" height="38" alt="billede af en pil"></a>
    </div>

    <div class="tekst">
        <p>Welcome to JOJO Cocktailbar - where we elevate the cocktail experience in the heart of Copenhagen! Following our success on Vesterbro, we've expanded to Nørrebro, celebrating our commitment to spreading the best cocktail experience across Copenhagen. Enjoy our handcrafted cocktails for just 50 DKK in our cozy atmosphere, perfect for sharing moments with friends and new acquaintances. Join us at JOJO Cocktailbar and experience our passion for cocktails and lively atmosphere!</p>
    </div>
</article>



<style>

h1{
    font-size: 120px;
    margin: 0;
}

h2{
    font-size: 35px;
    margin: 0;
}

p{
    font-weight: 350;
    font-size: 23px;
    color: var(--secondary-color);
    line-height: 2;
}

.pil_container{
    padding-top: 1.5%;
    padding-left: 7%;
}
.pil{
    margin: 0;
    width: 3%;
    height: 0%;
}
.overskrift{
    padding-top: 150px;
    text-align: center;
}

.tekst{
    text-align: center;
    padding-left: 14%;
    padding-right: 14%;
}

@media (max-width: 800px){

h1{
   font-size: 50px;
}

h2{
    font-size: 25px;
}

.overskrift{
    padding-top: 65px;
}
p{
    font-size: 15px;
}  

.pil{
   display: none;
}

}

</style>