<article>
    <div class="grid_2">
        <div>
<h3>DIRECTIONS TO</h3>
        </div>
        <div>
<a href="https://www.google.com/maps/place/JOJO/@55.670735,12.5413346,16z/data=!3m1!4b1!4m6!3m5!1s0x4652537430342cb9:0x62677eb98f53359f!8m2!3d55.670732!4d12.5439095!16s%2Fg%2F11fmwvm0sn?entry=ttu">VESTERBRO</a>
        </div>
    </div>

    <div class="grid_2"> 
        <div>           
<h3>DIRECTIONS TO</h3>
        </div>
        <div>
<a href="https://www.google.com/maps/place/Ravnsborggade+19,+2200+K%C3%B8benhavn/@55.689348,12.5600689,17z/data=!3m1!4b1!4m6!3m5!1s0x46525300d9b6f591:0x6a899c0d472415c2!8m2!3d55.689345!4d12.5626438!16s%2Fg%2F11bw4bkcp2?entry=ttu">NØRREBRO</a>
        </div>
    </div>
</article>

<style>
  article {
    margin: 100px;
  }
.grid_2 {
    display: flex;
        justify-content: center;
        align-items: center;

} 

    a {
text-decoration: none;
  color: var(--tertiary-color);
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color); 
  padding: 5px 10px; 
  display: inline-block; 
  margin-top: 10px; 
  font-family: "GT Zirkon Trial", sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin: 20px;
    }

    a:hover {
        border: 2px solid var(  --tertiary-color);
  background-color: var(  --tertiary-color); 
  color: white; 
}

h3 {
    font-size: 30px; 
    margin: 20px;
}

@media (max-width: 800px){
a, h3 {
    font-size: 25px;
    white-space: nowrap; 
}
}

</style>