<article>
            <div class="grid_2">
    <h3>DIRECTIONS TO</h3>
    <a href="X">VESTERBRO</a>
            </div>

            <div class="grid_2">            
    <h3>DIRECTIONS TO</h3>
    <a href="X">NØRREBRO</a>
            </div>
</article>