---
const {data} = Astro.props;
console.log(data);
---

<article>
    <div>
        <img src="../drink.png" width="" height="" alt="drink">
        <div class="drinks_info">
          <h2>{data.name}</h2>
          <h3>{data.ingredients}</h3>
        </div>
      </div>
</article>


<style>
.drinks_info{
    padding-top: 20px;
}

h2{
    font-size: 35px;
    margin: 0;
    color: var(--secondary-color);
}

article{
    margin: 30px;
}
</style>