---

---

<article>
    <div>
        <img src="../drink.png" width="" height="" alt="drink">
        <div class="drinks_info">
          <h2>BASIL SMASH</h2>
          <h3>Lime, Cola & Vodka </h3>
        </div>
      </div>
</article>


<style>
.drinks_info{
    padding-top: 20px;
}

img{
    padding-top: 35px;
    width: 30%;
}

h2{
    font-size: 35px;
    margin: 0;
    color: var(--secondary-color);
}

article{
    margin: 50px;
}
</style>