---

---

<article>
    <p>&copy; JOJO Cocktailbar / <a href="https://www.findsmiley.dk/953527">Findsmiley.dk</a></p>
</article>


<style>
    p{
        text-align: center;
        font-family: "GT Zirkon Trial", sans-serif;
        font-weight: lighter;
        color: var(--secondary-color);
    }
    
    a{
        color: var(--secondary-color);
        text-decoration: none;
    }

    article{
        margin-top: 150px;
        margin-bottom: 30px;
    }
</style>