---

---

<article>
    <div>
    <a href="/forside_vesterbro">JOJO VESTERBRO</a>
</div>
<div>
    <a href="/forside_norrebro">JOJO NØRREBRO</a>
</div>
</article>

<style>
    body{
        background-image: url("baggrund.webp");
        background-size: cover;
    }
    a{
        color: #ffffff;
        text-decoration: none;
        font-size: 150px;
        font-weight: bold;
        opacity: 50%;
    }
    a:hover{
        opacity: 100%;
    }
</style>