<div class="container">
  <h1>JOJO VESTERBRO</h1>

  <div class="skiftende_billeder">
    <img class="mySlides" src="./img1.webp" width="2874" height="1624"
        alt="billede til website">
    <img class="mySlides" src="./img2.webp" width="2868" height="1442"
        alt="billede til website">
    <img class="mySlides" src="./img3.webp" width="2860" height="1614"
        alt="billede til website">
    <img class="mySlides" src="./img4.webp" width="2860" height="1614"
        alt="billede til website">
        <img class="mySlides" src="./img5.webp" width="2874" height="1624"
        alt="billede til website">
    <img class="mySlides" src="./img6.webp" width="2868" height="1442"
        alt="billede til website">
    <img class="mySlides" src="./img7.webp" width="2860" height="1614"
        alt="billede til website">
    <img class="mySlides" src="./img8.webp" width="2860" height="1614"
        alt="billede til website">
        <img class="mySlides" src="./img9.webp" width="2874" height="1624"
        alt="billede til website">
    <img class="mySlides" src="./img10.webp" width="2868" height="1442"
        alt="billede til website">
    <img class="mySlides" src="./img11.webp" width="2860" height="1614"
        alt="billede til website">
    <img class="mySlides" src="./img12.webp" width="2860" height="1614"
        alt="billede til website">
        <img class="mySlides" src="./img13.webp" width="2874" height="1624"
        alt="billede til website">
    <img class="mySlides" src="./img14.webp" width="2868" height="1442"
        alt="billede til website">
    <img class="mySlides" src="./img15.webp" width="2860" height="1614"
        alt="billede til website">
    <img class="mySlides" src="./img16.webp" width="2860" height="1614"
        alt="billede til website">
        <img class="mySlides" src="./img17.webp" width="2874" height="1624"
        alt="billede til website">
    <img class="mySlides" src="./img18.webp" width="2868" height="1442"
        alt="billede til website">
    <img class="mySlides" src="./img19.webp" width="2860" height="1614"
        alt="billede til website">
    <img class="mySlides" src="./img20.webp" width="2860" height="1614"
        alt="billede til website">
</div>

</div>
  
  <style>
  .container {
    position: relative;
    text-align: center; 
  }
  
  img {
    width: auto;
    height: auto;
    display: block; 
    margin: 0 auto;
  }
  
  .container h1 {
    position: absolute;
    top: 40%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1; 
    font-size: 140px; 
    white-space: nowrap; 
  }

  .skiftende_billeder{
max-width: 500px;
width: 100%;
padding-top: 82px;
margin-left: 10%;
  }
  
  @media (max-width: 800px){
      img {
    width: 320px
      }
  
      .container h1 {
  font-size: 60px;
      }
  
  }
  </style>