---

---

<article class="grid_1">
    <div>
       <a href="/"><img src="/logo2.webp" width="173" height="111" alt="Logo"></a>
    </div>
    <div>
        <a class="menu" href="/menu_norrebro">MENU</a>
        <a class="about" href="/about_norrebro">ABOUT</a>
    </div>
</article>

<style>
    .grid_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu, .about{
        font-family: "GT Zirkon Trial", sans-serif;
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }

    .menu{
        padding-right: 40px;
    }

    img{
        width: 50%;
    }
</style>