---
import "../main/MainStyles1.css";
---

<article class="grid_1">
    <div>
       <a href="/"><img src="/public/logo1.webp" alt="Logo"></a>
    </div>
    <div>
        <a class="menu" href="/menu_vesterbro">MENU</a>
        <a class="about" href="/about_vesterbro">ABOUT</a>
    </div>
</article>

<style>
    .grid_1{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu, .about{
        font-family: "GT Zirkon Trial", sans-serif;
        color: var(--secondary-color);
        text-decoration: none;
        font-size: 30px;
        font-weight: bold;
    }

    .menu{
        padding-right: 40px;
    }
</style>