---

---

<article>
    <div class="tekst">
        <h1 class="overskrift">CURRENT MENU</h1>
        <h2 class="underoverskrift">ALL DRINKS 50 DKK</h2>
    </div>
</article>


<style>
.tekst{
    padding-top: 150px;
    text-align: center;
    padding-bottom: 35px;
}

h1{
    font-size: 120px;
    margin: 0;
}

h2{
    font-size: 35px;
    margin: 0;
    color: var(--secondary-color);
}

.underoverskrift{
    color: var(--tertiary-color);
}

@media (max-width: 800px){

h1{
   font-size: 50px;
}

h2{
    font-size: 25px;
}
}
</style>