---

---
<article>
    <div class="tekst">
      <h1>SIGNATURES</h1>
      <h2 class="drinks_pris">ALL DRINKS 50 DKK</h2>
    </div>
    <div class="grid_container">
    <div>
      <img src="/basil.webp" width="" height="" alt="drink">
      <div class="drinks_info">
        <h2>BASIL SMASH</h2>
        <h3>Lime, Cola & Vodka </h3>
      </div>
    </div>
    <div>
      <img src="/yuzu.webp" width="" height="" alt="drink">
      <div class="drinks_info">
        <h2>YUZU SOUR</h2>
        <h3>Lime, Cola & Vodka </h3>
        </div>
    </div>
    <div>
       <img src="/hibiscus.webp" width="" height="" alt="drink">
       <div class="drinks_info">
         <h2>HIBISCUS MARGARITA</h2>
         <h3>Lime, Cola & Vodka </h3>
        </div>
    </div>
    </div>
</article>


<style>
.grid_container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    margin: 50px;
}

.tekst{
    margin-top: 200px;
    text-align: center;
    padding-bottom: 35px;
}

.drinks_pris{
  color: var(--tertiary-color);
}

h1{
    font-size: 120px;
    margin: 0;
}

h2{
    font-size: 35px;
    margin: 0;
    color: var(--secondary-color);
}

h3{
    font-size: 22px;
    margin: 0;
    padding-top: 10px;
}

.drinks_info{
    padding-top: 20px;
}

@media (max-width: 800px){
  .grid_container{
    display: grid;
    grid-template-columns: 1fr;
    grid: 6%;
    margin: 50px;
  }

  .tekst{
    margin-top: 200px;
    text-align: center;
    padding-bottom: 0;
}

  h1{
    font-size: 50px;
  }
  
  h2{
    font-size: 24px;
  }

  h3{
    font-size: 15px;
  }

  .drinks_info{
    padding-top: 10px;
}
}

</style>

